/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --page-color: #000028;
  --accent-color: #FF0070;
  --title-color: #DB00FF;
  --main-font: 'IBM Plex mono';
  --font-size: 18px;
  --line-height: 130%;
  /* --main-margin: 0 1vw; */
}
